.formContainer {
    width: 50%;
    /* background-color: ; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: #285461;
    font-size: 1.2rem;
}

form.options {
    display: flex;
    justify-content: space-evenly;
}

.formControls {
    margin: 5px;
}

button {
    border: none;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 12px;
    margin: 5px;
}

button.success {
    color: #fff;
    background-color: #316777;
}

button.secondary {
    color: #fff;
    background-color: #f47a60;
}