.usersList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin-left: 70px;
}


@media screen and (max-width: 960px) {
    .usersList {
        grid-template-columns: 1fr 1fr;

    }
}


@media screen and (max-width: 960px) {
    .usersList {
        grid-template-columns: 1fr;


    }
}
